# Use LF as default EOL marker
* text=auto eol=lf

# Exclude files from 'git archive'
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore

# Git LFS
*.[pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
